@media (max-width: 863px){  /* 863px * 87vw = 751px container width */

    body {
        margin: 0;
        /* padding-top:30px; */
    }

    #container {
        display: flex;
        flex-direction: column;
        width: 87vw;
        min-width: 0;
    }

    .square {
        height: calc(95vw * 9/ 16.0);
    }

    #works__container {
        width: 100%;
        height: min(100vh, 65vw);
        margin-left: auto;
        left: auto;
        min-width: 0;
        min-height: 0;
    }

    #works__container iframe {
        width: 960px;
        height: 650px;
        transform: scale(0.31) translate(-50%, -50%);;
        transform-origin: 0 0;
        top: 50%;
        left: 50%;
    }
    
    @media screen and (min-width: 360px) and (max-width: 410px){

        #works__container iframe {
            transform: scale(0.35) translate(-50%, -50%);;
        }
        
    }

    @media screen and (min-width: 411px) and (max-width: 480px){

        #works__container iframe {
            transform: scale(0.4) translate(-50%, -50%);;
        }
        
    }
    
    @media screen and (min-width: 481px) and (max-height: 359px){

        #works__container iframe {
            transform: scale(0.48) translate(-50%, -50%);;
        }
        
    }
    
    @media screen and (min-width: 481px) and (min-height: 360px) and (max-height: 410px){

        #works__container iframe {
            transform: scale(0.55) translate(-50%, -50%);;
        }
        
    }

    @media screen and (min-width: 481px) and (min-height: 411px){

        #works__container iframe {
            transform: scale(0.62) translate(-50%, -50%);;
        }
        
    }

    #title__container {
        margin: 23px 0;
    }

    #title__container p {
        width: calc(87vw - 106px);
        font-size: 28px;
        line-height: 100%;
        margin: 0;
        margin-left: 53px;
    }

    #author__container {
        display: inline;
    }

    .author__column {
        justify-content:left ;
    }

    .author__job {
        width: 36vw;
        margin-top: 0;
        margin-bottom: 0;
    }

    .author__name {
        margin-top: 0;
        margin-bottom: 0;
    }

    #caption__container {
        position: relative;
        display: block;
        text-align: left;
        margin-bottom: 20px;
        padding: 0 20px;
    }

    #caption__container p, ul {
        font-size: 13px;
        line-height: 150%;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .author__column {
        padding-bottom: 0;
    }

    #buttons__container {
        margin-top: 23px;
        margin-bottom: 0;
        height: 114px;
    }

    #buttons__container a {
        margin-right: 19.5px;
    }
    
    #buttons__container img {
        height: 42px;
        width: 42px;
    }

    #buttons__container .row {
        height: 42px;
        padding: 0;
        justify-content: center;
    }

    #buttons__container .comment {
        width: 165px;
        height: 18px;
        padding: 12px 0;
        font-size: 15px;
        line-height: 15px;
    }

    #buttons__container .comment img {
        top: 7.5px;
        left: 21px;
        height: 27px;
        width: 34px;
    }

    #buttons__container .comment p {
        position: absolute;
        top: 12px;
        left: 64px;
        line-height: 15px;
    }

    #buttons__container .return {
        width: 225px;
        height: 18px;
        padding: 12px 0;
        border-radius: 42px;
        font-size: 15px;
        line-height: 15px;
    }
    
    #buttons__container .return img {
        top: 9px;
        left: 45px;
        height: 23px;
        width: 23px;
        padding-right: 12.5px;
    }
    
    #buttons__container .return p {
        top: 12.5px;
        left: 75px;
        line-height: 17px;
    }

    .button{
        width: 53px;
        height: 28px;
    }

    .button.b2, .button.b2 .layer{
        border-radius: 14px;
    }

    .layer{
        font-size: 11px;
    }

    #button-1 .knobs:before, #button-1 .knobs:after, #button-1 .knobs span{
        position: absolute;
        top: 2px;
        width: 12px;
        height: 12px;
        font-size: 11px;
        padding: 6px 6px;
        border-radius: 24px;
    }

    #button-1 .knobs:before{
        left: 2px;
    }

    #button-1 .knobs:after{
        top: 3px;
        right: 3px;
        font-size: 10px;
    }
    
    #button-1 .knobs span{
        top: 3px;
        left: 1px;
        font-size: 10px;
    }
    
    #button-1 .checkbox:checked + .knobs:before{
        left: 27px;
    }

    @media screen and (min-height: 481px) {
        .modaal-content-container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media screen and (min-height: 481px) and (min-width: 375px) {
        .modaal-content-container {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    /* .pc_only {
        display: none;
    }

    .sp_only {
        display: block;
    } */

}
