body {
    font-family: fot-klee-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    /* padding-top: 50px; */
}

ul {
    list-style: none;
    padding-left: 0px;
}

hr {
    color: #B7B7B7;
    margin: 0;
}

button {
    visibility: hidden;
    padding: 0;
}

/* button:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
} */

#container {
    width: 751px;
    margin-right: auto;
    margin-left: auto;
}

#works__cover {
	background: #000000;
}
#works__container {
    position: relative;
    width: 100vw;
    height: calc(100vw * 9/16);
    max-height: calc(100vh - 99px);
    max-width: calc((100vh - 99px) * 16/9);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto; /* 左右の余白を黒色で埋めたい*/ 
}

#works__container iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.square {
    display: none;
    width: 960px;
    height: 650px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 15px;
}

.square p{
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

#title__container {
    display: flex;
    margin: 24.5px 0;
}

#title__container p {
    width: 559px;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    margin: 0;
    margin-left: 96px;
}

.title_jp {
    display: block;
}

.title_en {
    display: none;
}

#author__container {
    display: flex;
    margin-top: 11.5px;
}

.author__div {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.author__column {
    display: flex;
    margin: 0;
    padding-bottom: 48.5px;
}

.author__job {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    margin: 0;
}

.author__name_jp {
    display: block;
    margin: 0;
}

.author__name_en {
    display: none;
    margin: 0;
}

#caption__container {
    padding: 0 30px;
}

#caption__container p, ul {
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin: 46.5px 0;
}

.caption_jp {
    display: block;
}

.caption_en {
    display: none;
}

#buttons__container {
    margin: 24.5px 0;
    justify-content: space-between;
    height: 130px;
}

#buttons__container a {
    margin-right: 25px;
}

#buttons__container img {
    height: 50px;
    width: 50px;
}

#buttons__container .row {
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
}

#buttons__container .comment {
    position: relative;
    display: block;
    width: 197px;
    height: 30px;
    padding: 10px 0;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    background: #000000;
    margin-left: 25px;
}

#buttons__container .comment,.twitter,.return {
    transition: .3s;
}

#buttons__container .comment:hover,.twitter:hover,.return:hover {
    transform: scale(1.2);
}

#buttons__container .comment img {
    position: absolute;
    top: 11px;
    left: 22px;
    height: 32px;
    width: 40px;
}

#buttons__container .comment p {
    position: absolute;
    top: 15px;
    left: 72px;
    line-height: 20px;
    margin: 0;
}

.comment_jp {
    display: block;
}

.comment_en {
    display: none;
}

#buttons__container .return {
    position: relative;
    display: block;
    width: 271px;
    height: 30px;
    padding: 10px 0;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    background: #3F6EB5;
    margin: auto;
}

#buttons__container .return img {
    position: absolute;
    top: 11px;
    left: 47px;
    height: 27px;
    width: 27px;
    padding-right: 15px;
}

#buttons__container .return p {
    position: absolute;
    top: 15px;
    left: 89px;
    line-height: 20px;
    margin: 0;
}

.return_jp {
    display: block;
}

.return_en {
    display: none;
}

.button_good{
    cursor: pointer;
}

.button{
    position: relative;
    width: 96px;
    height: 50px;
    margin: auto;
}

.button.b2, .button.b2 .layer{
    border-radius: 50px;
}

.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs, .layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.knobs{
    z-index: 2;
}

.layer{
    width: 100%;
    font-size: 20px;
    background-color: #000000;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-1 .knobs:before, #button-1 .knobs:after, #button-1 .knobs span{
    position: absolute;
    top: 4px;
    width: 21px;
    height: 21px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 11px 11px;
    border-radius: 21px;
    transition: 0.3s ease all;
}

#button-1 .knobs:before{
    content: '';
    left: 4px;
    background-color: #ffffff;
}

#button-1 .knobs:after{
    content: 'EN';
    right: 6px;
    font-size: 20px;
    color: #ffffff;
}

#button-1 .knobs span{
    display: inline-block;
    left: 4px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    z-index: 1;
}

#button-1 .checkbox:checked + .knobs span{
    color: #ffffff;
}

#button-1 .checkbox:checked + .knobs:before{
    left: 49px;
    background-color: #ffffff;
}

#button-1 .checkbox:checked + .knobs:after{
    color: #000000;
    font-weight: bold;
}

#button-1 .checkbox:checked ~ .layer{
    background-color: #000000;
}

#footer__container p {
    text-align: center;
    color: #a9a9a9;
}

#iine{
    visibility: visible;
}

/* .sp_only {
    display: none;
} */